nav > ul{
    display: flex;
}

nav li a{
    margin: 10px;
    text-decoration: none;
}

nav li{
    list-style: none;
    padding: 10px;
}

nav li :hover{
    background-color: aqua;
    padding: 10px;
}

nav li .dropdown{
    display: none;
    position: absolute;
    padding-left: 10px;
    background-color: blueviolet;
    
}

nav li:hover > .dropdown{
    display: block;
    margin: 2px;
}